<div class="container">

  <h1><%= @restaurant.name %></h1>
  <p><strong> Address:</strong> <%= @restaurant.address %></p>
  <p><strong>Phone Number: </strong><%= @restaurant.phone_number %></p>
  <p><strong>Category: </strong><%= @restaurant.category.capitalize %></p>

  <h5><strong>Reviews:</strong></h5>
  <ol>
      <% @restaurant.reviews.each do |review| %>
     <li> <%= review.content %></li>
     <p> <%= "*" * review.rating.to_i %></p>
     <% end %>
  </ol>

  <%= link_to restaurants_path do %>
      <i class="fas fa-home"></i>
  <% end %>
  <%= link_to new_restaurant_review_path(@restaurant) do %>
    <i class="fas fa-comment-dots"></i>
  <% end %>
</div>
