<div class="container">

  <h1><%= @restaurant.name %></h1>
  <p><%= @restaurant.address %></p>
  <p><%= @restaurant.phone_number %></p>
  <p><%= @restaurant.category.capitalize %></p>
  <ol>
    <% @restaurant.reviews.each do |review| %>
   <li> <%= review.content %></li>
   <p> <%= "*" * review.rating.to_i %></p>
    <% end %>
  </ol>

  <%= link_to restaurants_path do %>
      <i class="fas fa-home"></i>
  <% end %>
  <%= link_to "Add Review", new_restaurant_review_path(@restaurant) %>
</div>
